{
  "chainId": {{ translator.chain_id }},
  "blockNumberDelta": {{ translator.block_delta }},
  "antelopeChainId": "{{ leap.chain_id }}",
  "debug": {{ rpc.debug }},
  "apiHost": "{{ rpc.host }}",
  "apiPort": {{ rpc.port }},
  "nodeosWrite": "{{ leap_http_endpoint }}",
  "nodeosRead": "{{ leap_http_endpoint }}",
  "signerAccount": "{{ rpc.signer_account }}",
  "signerPermission": "{{ rpc.signer_permission }}",
  "signerKey": "{{ rpc.signer_key }}",
  "contracts": {
    "main": "{% if rpc.main_contract is defined %}{{ rpc.main_contract }}{% else %}'eosio.evm' }}{% endif %}"
  },
  "indexerWebsocketHost": "{{ translator.ws_host }}",
  "indexerWebsocketPort": {{ translator.ws_port }},
  "indexerWebsocketUri": "{{ translator_ws_uri }}",
  "rpcWebsocketHost": "{{ rpc.ws_host }}",
  "rpcWebsocketPort": {{ rpc.ws_port }},
  "redisHost": "{{ redis.host }}",
  "redisPort": {{ redis.port }},
  "redisUser": "",
  "redisPass": "",
  "elasticNode": "{{ es_endpoint }}",
  "elasticUser": "",
  "elasticPass": "",
  "elasticIndexPrefix": "{{ node_name }}",
  "elasticIndexVersion": "v1.5",
  "elasticIndexDocsAmount": {{ translator.es.docs_per_index }}
}
