{
    "logLevel": "{{ translator.log_level }}",
    "readerLogLevel": "{{ translator.reader_log_level }}",

    "chainName": "{{ node_name }}",
    "chainId": {{ translator.chain_id }},

    "runtime": {},

    "endpoint": "{{ leap_http_endpoint }}",
    "remoteEndpoint": "{{ leap_remote_endpoint }}",
    "wsEndpoint": "{{ leap_ship_endpoint }}",

    "evmBlockDelta": {{ translator.block_delta }},
    "evmPrevHash": "{{ translator_prev_hash }}",
    "evmValidateHash": "{{ translator_validate_hash }}",

    "startBlock": {{ translator_start_block }},
    "stopBlock": {% if translator.stop_block is defined %}{{ translator.stop_block }}{% else %}-1{% endif %},
    "irreversibleOnly": {{ translator.irreversible_only }},
    "blockHistorySize": {{ translator.block_hist_size }},
    "perf": {
        "stallCounter": {{ translator.stall_counter }},
        "readerWorkerAmount": {{ translator.reader_workers }},
        "evmWorkerAmount": {{ translator.evm_workers }},
        "elasticDumpSize": {{ translator.es.dump_size }},
        "maxPayloadMb": {{ translator.max_ws_payload }}
    },

    "elastic": {
        "node": "{{ es_endpoint }}",
        "requestTimeout": {{ translator.es.req_timeout }},
        "docsPerIndex": {{ translator.es.docs_per_index }},
        "scrollSize": {{ translator.es.scroll_size }},
        "scrollWindow": "{{ translator.es.scroll_window }}",
        "numberOfShards": 1{{ translator.es.num_of_shards }},
        "numberOfReplicas": {{ translator.es.num_of_replicas }},
        "refreshInterval": {{ translator.es.refresh_interval }},
        "codec": "{{ translator.es.codec }}",
        "subfix": {
            "delta": "{{ translator.es.suffix.delta }}",
            "transaction": "{{ translator.es.suffix.transaction }}",
            "error": "{{ translator.es.suffix.error }}",
            "fork": "{{ translator.es.suffix.fork }}"
        }
    },

    "broadcast": {
        "wsHost": "{{ translator.ws_host }}",
        "wsPort": {{ translator.ws_port }}
    }
}
